@use '../base/colors' as *;
// :: Buttons
.button {
    height: 65px;
    padding: 0 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: $blue;
    border: 0;
    border-radius: 6px;
    margin-top: 60px;
}